html
	head
		title Express Application
		link(rel="stylesheet", href="/assets/css/style.css")
	
	body
		h1 Express
		p This is a template for simple express application. You can start by editing views, app.js or server.js 
		
		q use npm run dev to start server
			
